[package]
name = "plugin-rot13"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
test = false

[dependencies]
heapless = "0.8"
byteorder = { version = "1.5", default-features = false }
